* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --color1: #7b2aad;
    --color2: #6035aa;
    --color3: #ce93d8; 
    --color4: #CAB3FF;
    --color5: #f5eaff;
    --color6: #756966;
    --color7: #403937;
    --color8: #7e57c2;
    --color9: #dbccfd;
}

body {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    background-color: var(--color1);
}

a {
    text-decoration: none;
}

::selection {
    background-color: var(--color4);
}

#app {
    display: grid;
    grid-template-columns: max-content 1fr;
    min-height: 100vh;
}

.inner {
    height: 100%;
    background-color: var(--color5);
    border-top-left-radius: 3.2rem;
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    padding-top: 0.8rem;
}

nav {
    padding: 3.2rem 2.7rem 0 3.5rem;
}

.logo {
    width: 24rem;
    height: 11rem;
}

nav ul {
    margin-top: 5rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

nav li a {
    color: var(--color4);
    display: flex;
    align-items: center;
    gap: 2.8rem;
    font-weight: 500;
    font-size: 2rem;
}

a.active,
a:hover {
    color: #FFF;
    font-weight: 700;
}

a ion-icon {
    font-size: 3rem;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.1rem;
}

h1 {
    text-align: center;
    gap: 1.2rem;
    font-size: 4rem;
    color: var(--color7);
    text-shadow: 0rem 0.4rem 1.6rem rgba(22, 22, 22, 0.1);
}

.rules {
    margin-top: 1.2rem;
    padding: 0 2.4rem;
    width: 50vw;
    height: 100%;
}

.rules ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.rules li {
    font-size: 2.1rem;
}

@media screen and (max-width: 1250px) {
    .top {
        max-width: 48rem;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 800px) {
    #app {
        display: flex;
        flex-direction: column;
    }

    .inner {
        border-top-left-radius: 0rem;
    }
    
    .logo {
        margin: auto;
    }

    nav a {
        display: flex;
    }

    nav ul {
        margin-top: 3rem;
        gap: 3rem;
        margin-bottom: 3rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .title {
        max-width: 48rem;
        flex-direction: column;
        gap: 2rem;
        padding: 0%;
    }

    .rules {
        width: 100%;
    }
}
